{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{model_instance.name}}</h1>
            <div>
                <p><a href = "{% url 'todo_list_update' model_instance.id %}">Edit</a></p>
            </div>
            <div>
                <p><a href = "{% url 'todo_list_delete' model_instance.id %}">Delete</a></p>
            </div>
            <table>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
                {% for todo_task in model_instance.items.all %}
                <tr>
                    <td><a href = "{% url 'todo_item_update' todo_task.id %}">{{todo_task.task}}</a></td>
                    <td>{{todo_task.due_date}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>
