<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method = "post">
                {% csrf_token %}
            <table>
                <tr>
                    <td>Task:</td>
                    <td><input type="text" name="task"></input></td>
                </tr>
                <tr>
                    <td>Due date:</td>
                    <td><input type="text" name="due_date"></input></td>
                </tr>
                <tr>
                    <td>Is completed:</td>
                    <td><input type="checkbox" name="is_completed"></input></td>
                </tr>
                <tr>
                    <td>Lists:</td>
                    <td><select name="list">
                        <option selected>---</option>
                        {% for list in todo_lists %}
                            <option value={{list.id}}>{{list.name}}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><button>Create</button></td>
                    <td></td>
                </tr>
            </table>
        </form>
        </div>
    </main>
</body>
</html>
